extends ./layout/index

block contenido
  main.container.mt-5 
    .row 
      .col-md-5
        img(src="img/nosotros.jpg", alt="Imagen de nosotros", class="img-fluid")
      .col-md-7
        h1 #{pagina}
        blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci debitis, deserunt minima numquam quam harum porro expedita ea tempore alias ullam delectus dolorem optio architecto voluptatibus quaerat deleniti sit fuga.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur officiis odio quod cum, doloribus vitae eos id facere tempora ex porro consectetur ea, rerum quidem illo animi repellendus? Optio, ipsum.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat deleniti adipisci optio est soluta, porro consectetur nobis vitae quas. Iste tempora similique quisquam adipisci rerum error harum ipsum quam vel.
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="icono de seguridad",class="img-fluid mb-4")
          h2.mb-4 Seguridad 
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. In obcaecati dolorem nulla iure nisi.
        .col-md-4
          img(src="img/icono_destinos.svg", alt="icono de Destinos",class="img-fluid mb-4")
          h2.mb-4 Mejores Destinos 
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. In obcaecati dolorem nulla iure nisi.
        .col-md-4
          img(src="img/icono_precios.svg", alt="icono de precio",class="img-fluid mb-4")
          h2.mb-4 Mejores Precios 
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. In obcaecati dolorem nulla iure nisi.